<!---
---
layout: main
title:  "home"
permalink: "terminal"
date:   2023-03-24 07:44
--- 
-->
<div class="home-body-container">
    <div class="home-left-container">
        <div class="home-left-container-center-container">
            <p class="home-left-container-center-container-name">soh3e, 소희</p>
            <p class="home-left-container-center-container-title">-- cybersecurity and tech --</p>
            <p class="home-left-container-center-container-socials">
                <a href="http://github.com/soh3e">
                    <svg class="home-left-container-center-container-socials-logo" width="35" height="35" viewBox="0 0 1024 1024" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8C0 11.54 2.29 14.53 5.47 15.59C5.87 15.66 6.02 15.42 6.02 15.21C6.02 15.02 6.01 14.39 6.01 13.72C4 14.09 3.48 13.23 3.32 12.78C3.23 12.55 2.84 11.84 2.5 11.65C2.22 11.5 1.82 11.13 2.49 11.12C3.12 11.11 3.57 11.7 3.72 11.94C4.44 13.15 5.59 12.81 6.05 12.6C6.12 12.08 6.33 11.73 6.56 11.53C4.78 11.33 2.92 10.64 2.92 7.58C2.92 6.71 3.23 5.99 3.74 5.43C3.66 5.23 3.38 4.41 3.82 3.31C3.82 3.31 4.49 3.1 6.02 4.13C6.66 3.95 7.34 3.86 8.02 3.86C8.7 3.86 9.38 3.95 10.02 4.13C11.55 3.09 12.22 3.31 12.22 3.31C12.66 4.41 12.38 5.23 12.3 5.43C12.81 5.99 13.12 6.7 13.12 7.58C13.12 10.65 11.25 11.33 9.47 11.53C9.76 11.78 10.01 12.26 10.01 13.01C10.01 14.08 10 14.94 10 15.21C10 15.42 10.15 15.67 10.55 15.59C13.71 14.53 16 11.53 16 8C16 3.58 12.42 0 8 0Z" transform="scale(64)" fill="#eae3e3"/>
                    </svg>
                </a>
            </p>
        </div>
    </div>

    <div class="home-right-container">
        <div class="home-categories-terminal-block"><form id="home-categories-terminal-form"><label for ="home-categories-terminal-prompter">soh3e@machine ~ % cat whoami.txt</label><input type="text" id="home-categories-terminal-prompter"  autofocus></input></form></div><div class="home-categories-terminal-block"><div class="home-categories-terminal-prompt"></div>
        </div>
        <!-- </div> -->
        <div class="home-categories-buttons inactive">
            <!-- TERMINAL ABOUT ME -->
            <div id="terminal-buttons">
                <button id="terminal-buttons-">

                </button>
                <button>
                </button>
                <button>
                </button>
            </div>
            <button id="terminal-button" class="home-categories-button" onclick="openTab(event, 'terminal')">
                <span>
                    terminal
                </span>

            </button>
            {% assign posts_in_category = site.categories.writeups %}
            <button id="writeup-button" class="home-categories-button" onclick="openTab(event, 'writeups');"> 
                <span>
                    writeups 
                </span> 
                <span id="writeups-span" class="home-categories-button-size">
                    [ {{ posts_in_category | size }} ]
                </span>
            </button>

            {% assign posts_in_category = site.categories.programming %}
            <button id="programming-button" class="home-categories-button" onclick="openTab(event, 'programming');">
                <span>
                    programming
                </span> 
                <span id="programming-span" class="home-categories-button-size">
                    [ {{ posts_in_category | size }} ]
                </span>
            </button>

        </div> <!-- END home-categories-buttons inactive -->

        <div id="writeups" class="home-categories home-categories-posts-writeups "> <!-- content for category 1 (writeups )-->
            {% for post in site.categories.writeups %}
                {% unless post.url == page.url %}
                <li class="home-categories-posts-entry"><a class="home-categories-posts-text" href="{{ post.url }}">
                    <span class="home-categories-posts-text-date">
                        {{ post.date | date: "%m/%e/%Y"}} 
                    </span>
                    <span class="home-categories-posts-text-title">
                        {{ post.title }} 
                    </span>
                    <!-- eventually incorporate tags here?
                        ex tags: htb, thm, blahblahblah
                        appears on hover
                        is a span tag 
                        display: inline-block
                    -->
                    <span class="home-categories-posts-text-readtime">
                        {% assign words = post.content | number_of_words %}
                        {% assign read_time = words | divided_by: 180 %}
                        {% if read_time == 1 %}
                            {% assign read_time_label = '1 minute' %}
                        {% else %}
                            {% assign read_time_label = read_time | append: ' minutes' %}
                        {% endif %}
                        
                        {{ read_time_label }}
                    </span>
                </a>
                </li>
                {% endunless %}
            {% endfor %}
        </div>
        <div id="programming" class="home-categories home-categories-posts-programming"> <!-- content for category 2 (programming )-->
            {% for post in site.categories.programming %}
                <li class="home-categories-posts-entry"><a class="home-categories-posts-text" href="{{ post.url }}">
                    <span class="home-categories-posts-text-date">
                        {{ post.date | date: "%m/%e/%Y"}} 
                    </span>
                    <span class="home-categories-posts-text-title">
                        {{ post.title }} 
                    </span>
                    <span class="home-categories-posts-text-readtime">
                        {% assign words = post.content | number_of_words %}
                        {% assign read_time = words | divided_by: 180 %}
                        {% if read_time == 1 %}
                            {% assign read_time_label = '1 minute' %}
                        {% else %}
                            {% assign read_time_label = read_time | append: ' minutes' %}
                        {% endif %}
                        
                        {{ read_time_label }}
                    </span>
                </a>
                </li>
            {% endfor %}
        </div>
        <div class="barrier">
            <span></span>
        </div>
    </div>
</div>


<script>
const input2 = document.getElementById('home-categories-terminal-prompter');
input2.setAttribute('contenteditable', true);
input2.addEventListener('keydown', (event) => {
  if (event.keyCode === 13) { // If the user presses the "Enter" key
    // input2.submit(); // Submit the form programmatically
    event.preventDefault(); // Prevent the default form submission behavior
    input2.submit();
  }
});

function animateText() {
  var str = "Hey, I'm soh3e - a full time student with a passion in cybersecurity and programming. NEWLINE When I'm not prying my way into HackTheBox machines or coding projects, I enjoy playing piano and drawing - further exploring my artistic identity and appreciating the sounds and visuals that bring me joy. NEWLINE (\\ /) NEWLINE ( . .) NEWLINE c(\")(\")";
  var words = str.split(' ');
  var spans = '';
  for (var i = 0; i < words.length; i++) {
    // if (('\\' in words[i]) || ('(' in words[i])){
    //     spans += '<span style="margin-bottom: 2px;>' + words[i] + ' ' +
    // }
    if (words[i] === 'soh3e') {
        spans += '<span style="color: #709bbf; text-shadow: 0 0 2px #709bbf;">' + words[i] + ' ' + '</span>';
    }
    else if (words[i] === 'NEWLINE') { // check if the current word is "\n"
        spans += '<span style="display:block; width: 100%;">' + ' ' + '</span>'; // set display to "block"
    } else {
        spans += '<span>' + words[i] + '</span> ';
    }
    // spans += '<span>' + words[i] + '</span> ';
  }

  $(spans).hide().appendTo('.swag').each(function (i) {
    $(this).delay(60 * i).css({
      marginBottom: '8px',
      display: 'inline-block',
      opacity: 0
    }).animate({
      opacity: 1
    }, 100);
  });
}


const input = document.getElementById("home-categories-terminal-prompter");
input.addEventListener("keydown", function(event) {
    if (event.key === "Enter") {
        event.preventDefault();
        const prompts = document.querySelectorAll(".home-categories-terminal-prompt");
        prompts.forEach(prompt => prompt.classList.replace("home-categories-terminal-prompt", "swag"));
        animateText();
        input.readOnly = true;
    }
});


// const input = document.getElementById("home-categories-terminal-prompter");
// input.addEventListener("keydown", function(event) {
// if (event.key === "Enter") {
// event.preventDefault();
// document.querySelector(".home-categories-terminal-prompt").classList.remove("inactive");
// }
// });

// Function to open the tab content
function openTab(evt, tabName) {
    console.log("opentab");
    // Get all tab content and hide it
    var categoryContent = document.getElementsByClassName("home-categories");
    for (var i = 0; i < categoryContent.length; i++) {
        categoryContent[i].style.display = "none";
    categoryContent[i].style.display = "none";
    }
    console.log(categoryContent);

    // Get all tab links and remove the active class
    var categoryButton = document.getElementsByClassName("home-categories-button");
    for (var i = 0; i < categoryButton.length; i++) {
        categoryButton[i].className = categoryButton[i].className.replace(" active", "");
    }

    // Show the current tab and add the "active" class to the button that opened the tab
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
    
}

    const writeupButton = document.getElementById("writeup-button");
    const writeupButtonSize = writeupButton.querySelector(".home-categories-button-size");
    const programmingButton = document.getElementById("programming-button");
    const programmingButtonSize = programmingButton.querySelector(".home-categories-button-size");

    writeupButton.addEventListener("click", function() {
        clearActiveClasses();
        writeupButtonSize.classList.add("active");
    });

    programmingButton.addEventListener("click", function() {
        clearActiveClasses();
        programmingButtonSize.classList.add("active");
    });

    function clearActiveClasses() {
        const activeButtons = document.querySelectorAll(".home-categories-button-size.active");
        activeButtons.forEach(function(button) {
        button.classList.remove("active");
        });
    }

window.onload = function() {
    // Show the writeups content by default when the page loads
    // document.getElementById("writeups").style.display = "block";
}

</script>