.body-container {
  margin-top: 3%; }

.page-body {
  display: flex;
  min-height: 100%;
  margin: auto; }

.page-body-container {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%; }

.page-body-content-container {
    display: inline-block;
    height: 100%;
    max-width: 768px;
    /* width: 50%; */
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    /* margin: auto; */
    word-wrap: break-word; }

.post-header-container {
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  display: flex;
  max-width: 100%;
  grid-template-columns: auto auto;
  border-bottom: rgb(75, 72, 73);
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
}

.page-title {
  font-size: 45px;
  font-weight: bold;
  color: #faf3dd;
  margin-top: 1rem; 
  margin-bottom: 0.5rem;
}

.page-date-author-readtime {
  font-size: 0.9rem;
  color: #a2a0a0;
  width: fit-content;
  margin-bottom: 4rem;
 }

.home-body {
  min-height: 97.5vh;
  overflow: hidden;
  margin: auto; }

.home-body-container {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; 
  justify-content: center;
}

.home-left-container {
  display: flex;
  height: 80vh;
  width: 13%;
  float: left;
  margin: auto;
  margin-right: 0;
}

.left-container-header{
    height: fit-content;
}

.left-container {
  width: 100%;
  height: 100%;
  color: #faf3dd;
  margin: auto;
  margin-right: 0;
  margin-left: 0;
  padding-top: 20px;
 }

.left-container-name {
  text-shadow: 0 0 3px #C8C8C8;
  font-weight: 700;
  font-size: 14px;
  margin: 0;
  text-decoration: none;
  width: fit-content;
  height: fit-content;
}

.left-container-name:hover {
    text-decoration: none;
    cursor: pointer;
}


.left-container-title {
    display: flex;
    font-weight: 400;
    font-size: 12px;
    color: #C8C8C8;
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

.home-left-container-center-container-title {
  text-shadow: 0 0 3px #C8C8C8;
  margin: 0px;
  font-size: 23px; }

.home-left-container-center-container-socials {
  margin: 0px;
  padding-top: 18px; }

.left-container-nav {
    margin-top: 40px;
}

.nav-section-title {
    font-size: 12px;
    color: #9f9c9c;
    font-weight: 600;
    margin: 0;
    padding: 0;
    padding-bottom: 8px;
}

.nav-section-entry-li {
    list-style-type: none;
    padding-bottom: 5px;
}
.nav-section-entry {
    font-size: 15px;
    color: #9f9c9c;
    margin: 0;
    padding: 0;
    text-decoration: none;
    border-radius: 7px;
    display: inline;
    margin: auto;
    padding: 8px 8px;
    border: none;
    background: transparent;
    color: #faf3dd;
    font-size: 14px;
    font-weight: 500;
    transition: opacity 0.3s ease-in-out;
    width: 100%;
    text-align: left;
}

.nav-section-entry.active {
    background: #56494c;
}

.nav-section-entry:hover {
    cursor: pointer;
    opacity: 0.8;
    background: #1e1d1d;
}

.nav-section-entry-span {
    float: right;
    display: none;
    /* margin-right: 10px; */
}
.nav-section-entry-span.active {
    display: inline;
    background-color: #665e60;
}

#nav-socials-section {
    padding-top: 40px;
}

.home-middle-container {
    width: 3%;
}

.home-right-container-top-break {
  margin-top: 50px; }

.home-right-container {
  width: 75%;
  overflow-y: scroll;
  max-height: 80vh;
  border-radius: 30px;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  background-color: #222222;
  height: 80vh;
  overflow: scroll;
  margin: auto;
  margin-left: 0;
  position: relative;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

.home-right-container::-webkit-scrollbar {
  display: none; }

.right-container-div {
    padding: 68px 120px;
}

.right-container-introduction-section {
    display: none;
}

.right-container-introduction-section.active {
    display: flex;
    /* flex-wrap: wrap; */
} 
.introduction-section-title {
    display: inline;
    font-size: 30px;
    font-weight: 600;
    width: 25%;
    padding-right: 32px;
    line-height: 2.5rem;
    letter-spacing: 0;
}

.introduction-section-content {
    display: inline-block;
    font-size: 15px;
    font-weight: 400;
    width: 75%;
    /* text-align: right; */
    height: fit-content;
    color: #b6b5b4;
    line-height: 1.9;
}

.home-categories-container {
  text-align: left;
  justify-content: left;
  align-items: start; }

.home-categories-buttons {
  padding: 15px 120px;
  padding-top: 60px; }

.home-categories-buttons.inactive {
  display: none; }

.home-categories-buttons:active {
  display: block; }

.home-categories-button {
  border-radius: 7px;
  display: inline;
  margin: auto;
  padding: 8px 8px;
  border: none;
  background: transparent;
  color: #faf3dd;
  font-size: 14px;
  font-weight: 500;
  transition: opacity 0.3s ease-in-out; }

.home-categories-button.active {
  background: #56494c; }

.home-categories-button-size {
  display: none; }

.home-categories-button-size.active {
  display: inline; }

.home-categories-button:hover {
  opacity: 0.8; }

.home-categories-button:hover {
  cursor: pointer; }

.home-categories {
  display: none;
  padding-top: 40px;
  width: 100%; }

.home-categories.active {
  display: block; }

.home-categories-button-size {
  display: none; }

.home-categories-posts-entry {
  list-style-type: none;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
  width: calc(100% + 15px);
  box-sizing: border-box;
  margin: 0;
  margin-left: -15px;
  margin-right: 15px;
  padding: 15px 15px;
  border-top: solid thin transparent;
  border-bottom: solid thin transparent; }

.home-categories-posts-entry:hover {
    background-color: #3c3a3a;
  /* border-top: solid thin #ebe7e738; */
  /* border-bottom: solid thin #ebe7e738; */
  opacity: 0.7; }

.home-categories-posts-text {
  text-decoration: none;
  color: #eae3e3;
  display: flex;
  line-height: 1.5rem;
  padding-bottom: 0px;
  font-size: 19px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0; }

.home-categories-posts-text:hover {
  height: 100%;
  width: 100%; }

.home-categories-posts-text:visited {
  color: #eae3e3; }

.home-categories-posts-text:hover {
  color: #948e8e;
  text-decoration: none; }

.home-categories-posts-text-date {
  font-weight: 500;
  font-size: 15px;
  color: #a6a0a0;
  flex-shrink: 0;
  width: fit-content;
  /* width: 135px; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-size: 16px; }

.home-categories-posts-text-title {
  font-weight: 600;
  font-size: 17px;
  box-sizing: border-box;
  margin: 0;
  flex: 1 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 0;
  line-height: 1.5rem;
  color: #faf3dd;
  text-decoration: none; }

.home-categories-posts-text-readtime {
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 65px;
  font-size: 16px;
  font-weight: 600;
  color: #5c5b5bb7;
  text-align: right; }

.barrier {
  margin-top: 30px;
  position: sticky;
  bottom: 0;
  height: 0px;
  /* Set the height of the barrier */
  background-color: #222222;
  /* Set the background color for visibility */
  z-index: 1;
  /* Bring the barrier to the front */ }

.barrier.inactive {
  display: none; }


  @media screen and (min-width: 1px) and (max-width: 479px) {
    .page-body-content-container {
        max-width: 95%; 
     }
     .home-left-container {
         display: none;
         width: 0;
     }
     .home-middle-container {
         display: none;
         width: 0;
     }
     .home-right-container {
        margin: auto;
        margin-top: 16vh;
        width: 100%;
        margin-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        max-height: 100vh;
        height: 100%;
     }
     .right-container-div {
         padding: 20px 30px;
     }
     .right-container-introduction-section.active {
         display: flex;
         flex-wrap: wrap;
     }
     .introduction-section-title {
         width: 100%;
         padding: 0;
         margin: 0;
         margin-bottom: 5px;
     }
     .introduction-section-content {
         width: 100%;
     }
     .nav-section-entry-span.active {
         display: none;
     }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .page-body-content-container {
       max-width: 95%; 
    }
    .home-left-container {
        display: none;
        width: 0;
    }
    .home-middle-container {
        display: none;
        width: 0;
    }
    .home-right-container {
        margin: 16vh 4vh 4vh 4vh;
        width: 95%;
        /* margin-top: 60px; */
    }
    .right-container-div {
        padding: 50px 68px;
    }
    .right-container-introduction-section.active {
        display: flex;
        flex-wrap: wrap;
    }
    .introduction-section-title {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 5px;
    }
    .introduction-section-content {
        width: 100%;
    }
    .nav-section-entry-span.active {
        display: none;
    }
}

@media screen and (min-width: 768px) and (max-width: 899px) {
    .page-body-content-container {
        max-width: 95%;
    }
    .home-left-container {
        display: none;
        width: 0;
    }
    .left-container {
        display: none;
    }
    .home-middle-container {
        display: none;
    }
    .home-right-container {
        margin: 16vh 4vh 4vh 4vh;
        width: 95%;
    }
    .right-container-introduction-section.active {
        display: flex;
        flex-wrap: wrap;
    }
    .introduction-section-title {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 5px;
    }
    .introduction-section-content {
        width: 100%;
    }
    .nav-section-entry-span.active {
        display: none;
    }
}

@media screen and (min-width: 900px) and (max-width: 1023px) {
    .page-body-content-container {
        max-width: 768px;
    }
    .right-container-introduction-section.active {
        display: flex;
        flex-wrap: wrap;
    }
    .introduction-section-title {
        width: 100%;
        padding: 0;
        margin: 0;
        margin-bottom: 5px;
    }
    .introduction-section-content {
        width: 100%;
    }
    .nav-section-entry-span.active {
        display: none;
    }
}

@media screen and (min-width: 1024px) {
    .page-body-content-container {
        max-width: 768px;
    }
}