/* Font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap'); 

h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  color: #faf3dd;
  margin: 0;
  padding: 0; }

/* Basic Styling */
body {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  background-color: #141515;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/* Main Elements */
main {
  display: block;
  /* Default value of `display` of `main` element is 'inline' in IE 11. */ }

/* Element: Images */
img {
  max-height: 100%;
  height: 100%;
  max-width: 100%;
  width: 100%;
  display: block;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  border-radius: 5px; }

/* Element: Figures  */
figure > img {
  display: block; }

figcaption {
  font-size: 15.75px; }

/* Element: Headings */
h1, h2 {
  font-weight: 400; }

h3, h4, h5, h6 {
  font-weight: 500; }


/* Element: Links */
a {
  color: #faf3dd;
  text-decoration: underline; 
  text-decoration-color: #999893;
  text-decoration-style: solid;
  text-underline-offset: 4px;}
  a:visited {
    text-decoration: underline;
    text-decoration-color: #faf3dd;
    text-decoration-style: solid; }
  a:hover {
    text-decoration: underline;
    text-decoration-color: #faf3dd;
    text-decoration-style: solid;
    }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

/* Element: Blockquotes */
blockquote {
  color: #959494;
  border-left: 4px solid #fbfafa;
  padding-left: 15px;
  font-size: 20.25px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/* Element: Code */
pre,
code {
  font-size: 16.875px;
  background-color: #222222; }

code {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px; }

pre {
  overflow-x: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/* Element: Wrappers */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (30px));
      max-width: calc(800px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/* Element: Clearfix */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/* Element: Icons */
.svg-icon {
  width: 16px;
  height: 16px;
  display: inline-block;
  fill: #959494;
  padding-right: 5px;
  vertical-align: text-top; }

.social-media-list li + li {
  padding-top: 5px; }

/* Element: Tables */
table {
  margin-bottom: 30px;
  width: 100%;
  text-align: left;
  color: white;
  border-collapse: collapse;
  border: 1px solid #fbfafa; }
  table tr:nth-child(even) {
    background-color: white; }
  table th, table td {
    padding: 10px 15px; }
  table th {
    background-color: white;
    border: 1px solid #f0f0f0;
    border-bottom-color: gainsboro; }
  table td {
    border: 1px solid #fbfafa; }

.logo-container {
  width: 100%;
  margin-top: 3%; }

.logo {
  width: 22%;
  margin: auto;
  margin-left: 8%;
  display: inline-block; }

.body-container {
  margin-top: 3%; }

.section-nav {
  position: sticky;
  top: 0;
  height: 50%; }

.toc-entry {
  list-style-type: "\00BB"; }

.numbered-list {
  margin-left: 20px;
  color: #948e8e; }

.numbered-list-content-indent {
  margin-left: 20px; }

a:hover {
  color: #faf3dd; }

.toc-h3 {
  padding-left: 15px; }

.page-toc-title {
  font-size: 15px;
  font-weight: 600;
  border-bottom: solid #faf3dd;
  width: 80%;
  margin: 0;
  padding: 0; }

.page-body {
  display: flex;
  min-height: 100%;
  margin: auto; }

.page-body-container {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100%; }

.page-body-content-container {
  display: inline-block;
  height: 100%;
  max-width: 768px;
  /* width: 50%; */
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
  word-wrap: break-word; }

.post-header-container {
  justify-content: space-between;
  align-items: center;
  vertical-align: middle;
  display: flex;
  max-width: 768px;
  grid-template-columns: auto auto;
  border-bottom: rgb(75, 72, 73);
  border-style: solid;
  border-width: 1px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.header-logo-div {
  font-size: 26px;
  margin: 0;
  line-height: 2em;
}

.header-logo {
  text-decoration: none;
}

.header-items {
  line-height: 2em;
  border: none;
  text-decoration: none;
}

.header-item {
  text-decoration: none;
  color: #888787;
}

/* 
.post-introduction-container {
  width: 100%;
  height: 150px;
  color: #faf3dd;
  border-style: solid;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left: none;
  border-right: none;
  border-color: #383838;
}

.introduction-title {
  padding-top: 1rem;
  font-weight: 600;
  font-size: 27px;
  margin-bottom: .25rem;
}

.introduction-date {
  font-weight: lighter;
}

.introduction-content {
  margin-bottom: .5rem;
  font-size: 18px;
  font-weight: 300;
} */
.page-title {
  font-size: 45px;
  font-weight: bold;
  color: #faf3dd;
  margin-top: 1rem; 
  margin-bottom: 0.5rem;
}

.page-date-author-readtime {
  font-size: 0.9rem;
  color: #a2a0a0;
  width: fit-content;
  margin-bottom: 4rem;
 }

.page-backwards-button:hover {
  text-decoration: none;
  color: #faf3dd; }

.page-backwards-button:visited {
  text-decoration: none;
  color: #faf3dd; }

.page-backbutton-text {
  display: inline;
  vertical-align: top;
  text-decoration: none;
  color: #faf3dd;
  font-weight: 500; }

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 2rem; }

h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 2.5rem; }

h3 {
  font-size: 25px;
  font-weight: 500;
  margin-top: 3.5rem;
  margin-bottom: 2.5rem; }

p {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.7px;
  line-height: 1.8;
  max-width: 100%;
  margin-bottom: 2.5rem; }

code {
  font-size: 15px;
  font-weight: 300;
  line-height: 1.5;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-bottom: 3rem; }

.inline-links {
  font-weight: 900; }

.home-body {
  min-height: 97.5vh;
  overflow: hidden;
  margin: auto; }

.home-body-container {
  display: flex;
  margin: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }

.home-left-container {
  display: flex;
  height: 100%;
  align-items: center;
  width: 30%;
  position: fixed;
  border-right: thin solid white; }

.home-left-container-center-container {
  align-items: center;
  width: 90%;
  height: 50%;
  color: #faf3dd;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center; }

.home-left-container-center-container-name {
  text-shadow: 0 0 3px #C8C8C8;
  width: auto;
  text-align: cetner;
  font-weight: 700;
  font-size: 38px;
  margin: 0px; }

.home-left-container-center-container-title {
  text-shadow: 0 0 3px #C8C8C8;
  margin: 0px;
  font-size: 23px; }

.home-left-container-center-container-socials {
  margin: 0px;
  padding-top: 18px; }

.home-right-container-top-break {
  margin-top: 50px; }

.home-right-container {
  overflow-y: scroll;
  max-height: 80vh;
  border-radius: 30px;
  border-color: transparent;
  border-style: solid;
  border-width: 1px;
  background-color: #222222;
  width: 55%;
  height: 80vh;
  overflow: scroll;
  margin: auto;
  position: relative;
  margin-left: 35%;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */ }

.home-right-container::-webkit-scrollbar {
  display: none; }

.home-categories-container {
  text-align: left;
  justify-content: left;
  align-items: start; }

.home-categories-buttons {
  padding: 15px 50px;
  padding-top: 50px; }

.home-categories-buttons.inactive {
  display: none; }

.home-categories-buttons:active {
  display: block; }

.home-categories-button {
  border-radius: 7px;
  display: inline;
  margin: auto;
  padding: 8px 8px;
  border: none;
  background: transparent;
  color: #faf3dd;
  font-size: 14px;
  font-weight: 500;
  transition: opacity 0.3s ease-in-out; }

.home-categories-button.active {
  background: #56494c; }

.home-categories-button-size {
  display: none; }

.home-categories-button-size.active {
  display: inline; }

.home-categories-button:hover {
  opacity: 0.8; }

.home-categories-button:hover {
  cursor: pointer; }

.home-categories {
  display: none;
  padding-top: 40px;
  width: 100%; }

.home-categories.active {
  display: block; }

.home-categories-button-size {
  display: none; }

.home-categories-terminal {
  padding-top: 7%;
  width: 90%;
  margin: auto; }

.home-categories-terminal-block {
  font: 1.3rem Inconsolata, monospace;
  font-size: 16px;
  overflow: hidden;
  margin: auto;
  width: 90%;
  color: #eae3e3;
  letter-spacing: .15em;
  text-shadow: 0 0 5px #C8C8C8;
  white-space: pre-wrap;
  word-wrap: break-word; }

#home-categories-terminal-form {
  margin-top: 7%;
  margin-bottom: 8px; }

#home-categories-terminal-prompter {
  opacity: 1;
  pointer-events: auto;
  cursor: text;
  display: inline-block;
  outline: none;
  background-color: transparent;
  border: none;
  color: transparent;
  caret-color: white;
  font: 1.3rem Inconsolata, monospace;
  font-size: 16px;
  text-shadow: 0 0 5px #C8C8C8;
  letter-spacing: .15em;
  width: auto; }

.home-categories-terminal-prompt {
  display: none; }

.swag {
  display: inline-block;
  overflow: hidden;
  /* Ensures the content is not revealed until the animation */
  letter-spacing: .15em;
  /* Adjust as needed */
  color: #eae3e3;
  font: 1.3rem Inconsolata, monospace;
  font-size: 16px;
  text-shadow: 0 0 5px #C8C8C8;
  white-space: pre-wrap;
  word-wrap: break-word; }

.test {
  color: #78b0de; }

.home-categories-posts-entry {
  list-style-type: none;
  transition: opacity 0.3s ease-in-out;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 15px 50px;
  border-top: solid thin transparent;
  border-bottom: solid thin transparent; }

.home-categories-posts-entry:hover {
  border-top: solid thin #ebe7e738;
  border-bottom: solid thin #ebe7e738;
  opacity: 0.7; }

.home-categories-posts-text {
  text-decoration: none;
  color: #eae3e3;
  display: flex;
  line-height: 1.5rem;
  padding-bottom: 0px;
  font-size: 19px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0; }

.home-categories-posts-text:hover {
  height: 100%;
  width: 100%; }

.home-categories-posts-text:visited {
  color: #eae3e3; }

.home-categories-posts-text:hover {
  color: #948e8e;
  text-decoration: none; }

.home-categories-posts-text-date {
  font-weight: 500;
  font-size: 15px;
  color: #a6a0a0;
  flex-basis: 135px;
  flex-shrink: 0;
  width: 135px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  line-height: 1.5rem;
  font-size: 16px; }

.home-categories-posts-text-title {
  font-weight: 600;
  font-size: 17px;
  box-sizing: border-box;
  margin: 0;
  flex: 1 1;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0%;
  padding: 0;
  line-height: 1.5rem;
  color: #faf3dd;
  text-decoration: none; }

.home-categories-posts-text-readtime {
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  margin: 0;
  padding: 0;
  min-width: 65px;
  font-size: 16px;
  font-weight: 600;
  color: #5c5b5bb7;
  text-align: right; }

.barrier {
  margin-top: 30px;
  position: sticky;
  bottom: 0;
  height: 0px;
  /* Set the height of the barrier */
  background-color: #222222;
  /* Set the background color for visibility */
  z-index: 1;
  /* Bring the barrier to the front */ }

.barrier.inactive {
  display: none; }

.bold {
  font-weight: 900; }

.underline {
  text-decoration: underline; }

.post-bottom-margin {
  margin-bottom: 150px; }
